__pycache__
.venv/
database.json
database.bak
logs/*.log*
backups/*.bak*
.env
docker/config/.env
docker/config/settings/
*.jpg
.idea/
session.txt
app_data/
*.db
alembic/__pycache__/
app/__pycache__/
.codex-home
.venv-linux
